<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="name" class="form-control" id="exampleInputEmail1" name="status[name]" placeholder="Give us your name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Status</label>
      <input type="status" class="form-control" id="exampleInputEmail1" name="status[content]" placeholder="What's your status">
    </div>

    <button type="submit" class="btn btn-success">Create status</button>
      
    
   </form> 

<% end %>
